{{define "title"}}Storage Console{{end}}

{{define "content"}}
  <div class="page-content">

    <div class="bb b--light-gray pb1 mb2">
      {{ if .Breadcrumbs.Display }}
        {{ range $v := .Breadcrumbs.Items }}
          {{ if $v.Navigable }}
            <a href="/b{{ $v.Path }}/">{{ $v.Name }}</a> /
          {{ else }}
            {{ $v.Name }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>

    {{ range $k, $v := .Entries }}
      <div class="pa1 ba b--light-gray mb1 flex items-center h2">
        <div class="mr1 h2 w1 flex items-center justify-center">
          <img src="/icons/content-types/{{$v.ContentType}}.svg" class="object-contain"/>
        </div>
        <div>
          {{ if $v.IsDir }}
            <a href="/b/{{$v.Key}}">{{$v.Name}}</a>
            <span class="muted f6">{{$v.Size}}</span>
          {{else}}
            <a href="./?preview={{ $v.Name }}">{{$v.Name}}</a>
            <span class="muted f6">{{$v.Size}}</span>
          {{end}}
        </div>
      </div>
    {{end}}
  </div>
{{end}}
