{{define "title"}}Storage Console{{end}} {{define "content"}}
<div class="page-content">
  <div class="bb b--light-gray pb1 mb2">
    {{ if .Breadcrumbs.Display }} {{ range $v := .Breadcrumbs.Items }} {{ if
    $v.Navigable }}
    <a href="/b{{ $v.Path }}/">{{ $v.Name }}</a> / {{ else }} {{ $v.Name }} {{
    end }} {{ end }} {{ end }}
  </div>

  <p>
    <a target="_blank" href="/b{{.Dir}}?asset={{.File}}&download=true"
    >Download</a>
  </p>

  <div class="flex justify-center items-center">
    {{ if .ContentTypePreviewable }}
    <div class="w-100 mw7">
      <img src="/b{{.Dir}}?asset={{.File}}" class="object-contain" />
    </div>
    {{ else }}
    <div class="w4">
      <img
        src="/icons/content-types/{{.ContentType}}.svg"
        class="object-contain"
      />
    </div>
    {{ end }}
  </div>

  <div>
    <div class="flex flex-column mw6">
      <h2 class="mb2">Object Details</h2>
      <div class="ba b--light-gray">
        <table class="collapse w-100">
          <tbody>
            <tr class="striped--light-gray">
              <td class="pa2"><strong>Size</strong></td>
              <td class="pa2">{{.Size}}</td>
            </tr>
            <tr class="striped--light-gray">
              <td class="pa2"><strong>Last Modified</strong></td>
              <td class="pa2">{{.LastModified}}</td>
            </tr>
            <tr class="striped--light-gray">
              <td class="pa2"><strong>MD5</strong></td>
              <td class="pa2"><code>{{.MD5}}</code></td>
            </tr>
            <tr class="striped--light-gray">
              <td class="pa2"><strong>Content Type</strong></td>
              <td class="pa2"><code>{{.ContentType}}</code></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{end}}
